<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Modern Website</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <!-- <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#contact">Contact</a></li> -->
            </ul>
        </nav>
    </header>
    <main>
        <section id="home">
            <h1>Shotgun Tracker</h1>
            <table>
            <thead>
                <tr>
                <th>Player Name</th>
                <th>Shotguns Taken</th>
                </tr>
            </thead>
            <tbody>
            {% for player in players %}
                <tr>
                <td>{{ player.name }}</td>
                <td>{{ player.shotguns_taken }}</td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </section>
    </main>
    <footer>
        <p>&copy; Jesse S, aka the beer drinking champ</p>
    </footer>
    <script src="scripts.js"></script>
</body>
</html>

